<h1><%= @resource.name %></h1>
<%= render partial: "/resources/forms/resource", locals: { readonly: true } %>

<%= link_to 'Edit', @resource.url(:edit) %> |
<%= link_to 'Back', @resource.url(:index) %>
