@import "compass/layout/stretching";

form.resource {
  
  padding-top: 3em;
  ul, li, ol { list-style-type: none; padding: 0; margin: 0; }
  
  .fifth {          width: 20%; }
  .two-fifth {      width: 40%; }
  .half {           width: 50%; }
  .half-pad {       width: 40%; margin-right: 10% !important; }
  .full {           width: 100%; }
  .select-full {    width: 104%; }
  
  fieldset { margin: 0; padding: 0; border: 0; }
  
  input[type=file],
  input[type=submit] { display: none; }
  
  .block { 
    display: inline-block; 
    vertical-align: top; 
    padding: 0; 
    margin: 0 0 0 -3px;
    box-sizing: border-box;
    
    input[type=text], 
    input[type=number],
    input[type=email],
    input[type=tel],
    .file>label,
    textarea,
    select { 
      display: inline-block;
      width: 100%; 
      outline: 0;
      border-radius: .5em;
      padding: .5em;
      margin: .25em 0;
      background: rgba(255,255,255,.75);
      border: 1px inset;
    }
    
    .file > label { 
      position: relative;
      text-align: center; 
      &:before {
        background: #CCC;
        background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
        border-radius: .25em;
        @include stretch(.5em, .5em, .5em, .5em);
        border: 1px solid #999;
        cursor: pointer;
        content: 'Upload picture';
      }
      &.is-ready:before { content: 'File chosen' !important; }
    }
    
    textarea { height: 15em; }
    
  }
  
  .actions {
    position: fixed;
    bottom: 1em;
    left: 1em;
  }
  
  .block-padding {
    width: 85%;
    margin: auto;
  }
  
  img { width: 100%; }
  
}
