@import "compass/layout/stretching";

form.resource {
  
  ul, li, ol { list-style-type: none; padding: 0; margin: 0; }
  
  .fifth {             width: 20%; }
  .two-fifth {         width: 40%; }
  .half {              width: 50%; }
  .half-pad {          width: 40%; margin-right: 10% !important; }
  .full {              width: 100%; }
  .upload-with-file {  width: 89%; position: relative; left: 2.5%; }
  .select-full {       width: 104%; }
  .select-four-fifth { width: 78%; position: relative; left: 5%; }
  
  fieldset { margin: 0; padding: 0; border: 0; }
  
  input[type=file],
  input[type=submit] { display: none; }
  
  .view-file {
    display: inline-block;
    width: 2em;
    vertical-align: middle;
    padding: .25em 1.5%;
  }
  
  .tooltip { 
    display: inline-block;    
    .tooltip-text { 
      text-align: left;
      display: none; 
      background: rgba(150,150,100,.9);
      padding: .5em;
      position: relative;
      top: -.25em;
      border-radius: .5em 0 .5em .5em;
      color: white;
      text-shadow: -1px 1px 0 #777;
      font-size: .9em; 
      
      p { margin: .5em 0; }
      a { 
        color: #FFD;
        &:hover { color: #CCB; } 
      }

      ul > li { margin-left: 2em; list-style-type: disc; }
      ol > li { 
        &:first-child { display: block; }
        display: none; 
      }
    }
    &:hover {
      .tooltip-text { display: block; }
      &:before {
        background: rgba(150,150,100,.9); 
        opacity: 1;
        color: white;
      }
    }
    &:before {
      content: '\f05a';
      font-family: FontAwesome;
      border-radius: 100% 100% 0 0;
      padding: 0 .1em;
      color: #CCA;
      opacity: .5;      
    }
  }
  
  &.sample .file > label:before { content: 'Upload file' !important; }
  
  .block { 
    
    .tooltip {
      position: absolute;
      z-index: 10;
      text-align: right;
    }
    &.basic .tooltip {
        right: -.6em;
        top: .6em;
    }
    
    &.tags .tooltip {
      right: 0;
      top: 0;
    }
    
    label { display: block; }
    position: relative;
        
    .choices { 
      position: relative; 
      legend { width: 100%; }
    }
    
    input[type=text], 
    input[type=number],
    input[type=email],
    input[type=tel],
    input[type=url],
    .file>label,
    textarea,
    select {
      display: inline-block;
      width: 100%; 
      outline: 0;
      border-radius: .5em;
      padding: .5em;
      margin: .25em 0;
      background: rgba(255,255,255,.75);
      border: 1px inset;
    }
    
    .required abbr {
      position: absolute;
      left: -1em;
      color: red;
      line-height: 2.75em;
    }
    
    .file > label { 
      padding: .5em 0 !important;
      position: relative;
      text-align: center; 
      &:before {
        background: #CCC;
        background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
        border-radius: .25em;
        @include stretch(.5em, .5em, .5em, .5em);
        border: 1px solid #999;
        cursor: pointer;
        content: 'Upload picture';
      }
      &.is-ready:before { content: 'File chosen' !important; }
    }
    
    textarea { height: 15em; }
    
  }
 
  select.unselected { color: #AAA; }
  select > option { color: black; }
  
  .actions {
    position: fixed;
    bottom: 1em;
    left: 1em;
    ol { margin-right: 15%; }
  }
  
  .block-padding {
    width: 85%;
    margin: auto;
  }
  
  img { width: 100%; }
  
}
