body, html { margin: 0; padding: 0; }

.flash {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1em 0;
  text-align: center;
  color: white;
  z-index: 9999;
}

.notice { background: rgba(0, 255, 0, .5); }
.alert { background: rgba(255, 0, 0, .5); }

.user-dashboard,
.admin-dashboard {
  position: fixed;
  right: 0;
  
  padding: 0;
  margin: 0;
  list-style-type: none;
  
  background: black;
  color: white;
  
}

.user-dashboard {
  top: 1em;
  padding: .5em;
  border: 1px solid white;
  

  .left {
    padding: .35em;
    float: left;
  }
  
  .right {
    float: right;
  }
  
  img {
    background: white;
    width: 3em;
  }
  
  a { color: white; }
}

.admin-dashboard {
  bottom: 0;
  
  width: 100%;
  text-align: center;
  
  li { 
    display: inline-block; 
    a { 
      color: white;
      padding: .25em .5em;
    }
  }
}
