body.dark-background nav {
  
  >div:hover, >div:hover ul {
    background: black; 
    background: rgba(0,0,0,.5);
    .link a:hover { background: rgba(0,0,0,.5); }
  }
  div, i, a { color: white; }
}

body.light-background nav {
  >div:hover, >div:hover ul {
    background: white;
    background: rgba(255,255,255,.75);
    .link a:hover { background: rgba(255,255,255,.75); }
  }
  div, i, a { color: black; }
}

nav {
  position: absolute;
  top: 0;
  padding: .5em 1em;
  z-index: 9999;

  > div { 
    vertical-align: top;
    display: inline-block; 
    padding: .75em;
    position: relative;
         
    img { 
      width: 1.75em; 
      cursor: pointer; 
      margin: -.25em -.25em -.55em;
      border-radius: 15%;
    }
    i { cursor: pointer }
    
    >.dashboard {
      position: absolute;
      top: 2.75em;
      left: 0;
      padding: .5em;
      margin: 0;
      list-style-type: none;
      min-width: 10em;
      a { text-decoration: none; font-weight: bold; }
      display: none;
      border-radius: 0 .5em .5em .5em;
      li {
        padding: 0 .25em 0 .5em;
        margin: .25em 0;
        border-radius: .5em;
      }
    }
    
    .link a {
      width: 90%;
      display: block;
      padding: 0 .25em;
      border-radius: .5em;
    }
    
    .menu-link {
      position: relative;
      height: 1.5em;
      
      > label {
        a { width: 75%; }
        position: absolute;
        width: 110%;
        padding: .5em 0;
      }
      > ul {
        min-width: 10em;
        display: none; 
        list-style-type: none;
        position: absolute;
        top: 0;
        left: 100%;
        border-radius: .5em;
        
        padding: .25em;
        margin-left: 1em;
      }
      &:hover>ul { display: block; }
    }
    
    &.menu { border-radius: .5em .5em 0 0; }
    &.link { border-radius: .5em; }
    &:hover>.dashboard { display: block; }
  }
  
}