body.dark-background nav {
  
  .nav-item:hover, .nav-item:hover ul {
    background: black; 
    background: rgba(0,0,0,.5);
    .link a:hover { background: rgba(0,0,0,.5); }
  }
  div, i, a { color: white; }
}

body.light-background nav {
  .nav-item:hover, .nav-item:hover ul {
    background: white;
    background: rgba(255,255,255,.75);
    .link a:hover { background: rgba(255,255,255,.75); }
  }
  div, i, a { color: black; }
}

nav {
  z-index: 1;
  position: absolute;
  top: 0;
  padding: .5em 1em;

  .nav-item { 
    z-index: 3;
    vertical-align: top;
    display: inline-block; 
    padding: .75em;
    position: relative;
         
    img { 
      width: 5em;
      height: 5em; 
      cursor: pointer; 
      margin: -.25em -.25em -.55em;
      border-radius: .25em;
    }
    i { cursor: pointer }
    
    >.dashboard {
      position: absolute;
      padding: .5em;
      margin: 0;
      list-style-type: none;
      min-width: 10em;
      a { text-decoration: none; font-weight: bold; }
      display: none;
      border-radius: 0 .5em .5em .5em;
      li {
        padding: 0 .25em 0 .5em;
        border-radius: .5em;
      }
      
      &.dashboard-down {
        top: 100%;
        left: 0;
      }
      
      &.dashboard-right {
        top: 0;
        left: 100%; 
        border-radius: 0 .5em .5em 0;
      }
      
    }
    
    .link a {
      width: 90%;
      display: block;
      padding: 0 .25em;
      border-radius: .5em;
    }
    
    .menu-link {
      position: relative;
      height: 1.5em;
      
      > label {
        a { width: 75%; }
        position: absolute;
        width: 110%;
      }
      > ul {
        min-width: 10em;
        display: none; 
        list-style-type: none;
        position: absolute;
        top: 0;
        left: 100%;
        border-radius: .5em;
        
        padding: .25em;
        margin-left: 1em;
      }
      &:hover>ul { display: block; }
    }
    
    &.menu-down { border-radius: .5em .5em 0 0; }
    &.menu-right { border-radius: .5em 0 0 .5em; }
    &.link { border-radius: .5em; }
    &:hover>.dashboard { display: block; }
  }
  
  .secondary-menus {
    display: inline-block;
    .nav-item { 
      display: block; 
      z-index: 2;
      &.tuck-link { z-index: 1; }
    }
  }
  
}