// Place all the styles related to the resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.resources { 
  padding-top: 2em; 
  
  .check_boxes .choices {
    padding-bottom: 1em;
    legend { font-weight: bold; }
  }
  
}

ul.previews {
  margin: 1em 0;
  padding: 0;
  text-align: center;
  
  .resource-wrapper {
    vertical-align: top;
    border: 1px solid black;
    padding: .5em;
    margin: 0 2.5% 1em 2.5%;
    display: inline-block;
    width: 23.5%;
    filter: blur(6px);
    
    .resource-image {
      float: left;
      width: 25%;
      img { 
        width: 75%; 
        padding: 12.5%;
      }
    }
    
    .resource-info {
      text-align: left;
      float: right;
      width: 75%;
    }
    
    .resource-tags {
      clear: both;
      .tag {
        font-size: .7em;
        position: relative;
        display: inline-block;
        background: #CCC;
        margin-right: 1.5em;
        padding: 0 .25em;
        &:before {
          content: '';
          width: 0;
          height: 0;
          border-top: .66em solid transparent;
          border-right: .7em solid #CCC;
          border-bottom: .66em solid transparent;
          display: block;
          position: absolute;
          top: 0;
          left: -.6em;
        }
      }
      
    }
  }
}
