header.search-form {
  box-shadow: 0 1px 5px black;
  padding: .5em 2.5%;
  text-align: right;

  h1 { 
    font-family: Arial black; 
    padding: 10% 10% 0 0;
    font-size: 250%;
    text-shadow: -3px 2px 0 black;
  }
  h2 { 
    font-family: Arial; margin: 0; 
    padding: 0 10% 5% 0;
    font-size: 175%;
    text-shadow: -3px 2px 0 black;
  }
  h3 {
    margin: 0;
    text-decoration: underline;
    font-size: 100%;
  }
  
  .search-view {
    
    text-shadow: -1px 1px 0 black;
    
    select, input {
      padding: .25em 0.5em;
      border-radius: .5em;
      background: rgba(0,0,0,.25);
      border: 0;
      outline: 0;
      color: white;
      option { background: rgba(0,0,0,.75); }
    }
    
    .search-view-div { padding: 3em 10%; }
    .search-view-spacer { padding: 5% 0; }
    
    .search-button {
      text-shadow: none;
      position: absolute;
      right: 5%;
      bottom: -1em;
      font-weight: bold;
      width: 3em;
      text-align: center;
      color: black;
      padding: 0 .5em 5px .5em;
      margin: .5em;
      text-decoration: none;
      cursor: pointer;
    }
    
    .swap-search-view {
      width: 10em;
      margin-bottom: -2em;
      position: relative;
      bottom: 2em;
      text-align: left;
      font-size: .8em;
      a { cursor: pointer;
          font-weight: bold; }
    }
    
    .lead-text { display: inline-block; }
     
    .tags-trigger {
      border-radius: .5em .5em 0 0;
      padding: .25em .5em .9em;
      position: relative;
      &.selected { 
        box-shadow: inset 0 0 4px black;
        color: black;
        text-shadow: none;
        &:after {
          content: ' ';
          background: url("/images/texture.png");
          position: absolute;
          right: 1px;
          left: 2px;
          bottom: -1px;
          height: 6px;
        }
      }
    }
    
    .tags {
      box-shadow: inset 0 0 4px black;
      border-radius: .5em 0 .5em .5em;
      list-style-type: none;
      color: black;
      padding: .5em;
      margin: .5em 0;
      text-align: center;
            
      .tag-type-list > li { 
        text-shadow: none;
        display: inline-block; 
        padding: 1em;
        vertical-align: top;
        text-align: left;
        .tag-list > li { 
          display: block; 
          font-size: 90%;
          font-style: italic;
          span { display: inline-block; width: 10em; }
        }
      }
    }
  }  
}

main.results {
  
  .page { 
    margin: .5em;
    padding: .5em;
    border: 1px solid black;
    cursor: pointer;
  }
  .prev { float: left; }
  .next { float: right; }
}

.no-results {
  text-align: center;
  font-size: .8em;
  padding: 1em 0;
}

.loading-results {
  text-align: center;
  padding-top: 5em;
}
