@mixin tag {
  display: inline-block;
  border: 0;
  background: #bb7;
  padding: .25em 0.5em;
  font-size: .8em;
  border-radius: .5em;
  color: white;
  text-shadow: -1px 1px 0 #444;
  font-family: arial;
  box-shadow: -1px 1px 5px -2px black;
  margin: .25em;
  
  a { 
    color: white;
    text-decoration: none; 
  } 
  
  input { display: none; }
  
}

.tag,
form.resource .tags .choice { @include tag; }
form.resource .tags .choice:not(.selected) { 
  opacity: .7;
  background: #aaa; 
}