.tag {
  display: inline-block;
  border: 0;
  background: #bb7;
  padding: .25em 0.5em !important;
  font-size: .8em;
  border-radius: .5em;
  color: white;
  text-shadow: -1px 1px 0 #444;
  font-family: arial;
  box-shadow: -1px 1px 5px -2px black;
  margin: .25em;
  
  a { 
    color: white;
    text-decoration: none; 
  } 
  
  input[type=checkbox] { display: none; }
  
}

fieldset.tags { 
  .toggle-parent { display: inline-block; }
  .tag {
    margin: .25em;
    &:not(.selected) { 
      opacity: .7;
      background: #aaa; 
    }
  }
}