
<header class="search-form picture-background" data-bind="template: { name: 'search', data: search }"></header>
<main class="results" data-bind="visible: !initialView(), template: { name: 'results', data: search }"></main>

<%= render partial: 'knockout/search' %>
<%= render partial: 'knockout/tag' %>
<%= render partial: 'knockout/results' %>
<%= render partial: 'knockout/preview' %>