<script type="text/html" id="resourcePreview">
	<div data-bind="click: showResource, attr: { class: previewClass }">
		<div class="resource-image">
			<img data-bind="attr: { src: pictureUrl }" />			
		</div>
		<div class="resource-info">	
			<div data-bind="text: name" class="resource-title"></div>
			<div data-bind="text: previewText" class="resource-subtitle"></div>
		</div>
		<div class="resource-tags">
			<ul data-bind="foreach: tags">
				<li data-bind="click: $parents[2].fetchResults, attr: {'data-tags': $data.id }" data-load="true" class="tag">
					<span class="arrow"></span>
					<span data-bind="text: $data.tag"></span>
				</li>
			</ul>
		</div>
	</div>
</script>
