<script type="text/html" id="resourcePreview">
	<div data-bind="click: function() { user ? window.location.href = $data.showUrl : $root.toggleAbout() }, attr: { class: previewClass }">
		<div class="resource-image">
			<img data-bind="attr: { src: pictureUrl }" />			
		</div>
		<div class="resource-info">	
			<div data-bind="text: name" class="resource-title"></div>
			<div data-bind="text: previewText" class="resource-subtitle"></div>
		</div>
		<div class="resource-tags">
			<ul data-bind="foreach: tags">
				<li data-bind="click: $root.tagFetchEvent, attr: {'data-id': $data.id, 'data-tag': $data.tag }" class="tag">
					<span data-bind="text: $data.tag"></span>
				</li>
			</ul>
		</div>
	</div>
</script>