<script type="text/html" id="search">
	<h1 data-bind="appear: $root.initialView">You want to make something?</h1>
	<h2 data-bind="appear: $root.initialView">We want to help.</h2>
		
	<div data-bind="appear: type() == 'filter' || type() == 'all'" class="search-view">
		<div class="search-view-div">
			<span   data-bind="text: $root.leadText" class="lead-text"></span>
			<select data-bind="value: resource, options: $root.resources, optionsText: 'name', optionsValue: 'value', optionsCaption: '', event: { change: $root.fetchCategories } " class="resource"></select>
			<span 	data-bind="visible: showPredicate, text: predicate" class="predicate"></span>
			<select data-bind="visible: showPredicate, value: category, options: $root.categories, optionsText: 'name',  optionsValue: 'value', optionCaption: '', event: { change: $root.fetchTags }" class="category"></select>
			<span   data-bind="visible: canSearch, click: $root.swapTagView, attr: { class: $root.tagClass }"><i class="fa fa-tags"></i></span>
			<div data-bind="appear: $root.tagView" class="tags texture-background">
				<div data-bind="visible: $root.tag_list().length == 0" class="no-results">No tags available</div>
				<ul data-bind="visible: $root.tag_list().length > 0, template: { name: 'tagType', foreach: $root.tag_list, templateOptions: { selections: tags() } }" class="tag-type-list"></ul>
			</div>
		</div>
		<div data-bind="appear: $root.initialView() && !$root.tagView()" class="search-view-spacer"></div>
		<a   data-bind="appear: canSearch, click: $root.fetchResults" class="search-button texture-background">Search</a>
		<div class="swap-search-view"><a data-bind="click: typeSwap">Search by text</a></div>
	</div>
	<div data-bind="appear: type() == 'text'" class="search-view">
		<div class="search-view-div">
			<span data-bind="text: $root.leadText" class="lead-text"></span>
			<input data-bind="event: { keypress: $root.handleEnter }, value: term" type="text" placeholder="Search. . .">
		</div>
		<div data-bind="appear: $root.initialView() && !$root.tagView()" class="search-view-spacer"></div>
		<a data-bind="appear: canSearch, click: $root.fetchResults" class="search-button texture-background">Search</a>
		<div class="swap-search-view"><a data-bind="click: typeSwap">Search by type</a></div>
	</div>
</script>