<script type="text/html" id="search">
	<div data-bind="appear: $root.showAbout" class="modal about">
		<div class="overlay"></div>
		<div class="content about texture-background">
			<%= INFO[:about].markdown %>
			<div class="actions">
			  <a class="action-link submit-link" href="people/new/">Sign me up!</a>
			  <a class="action-link deactivate-link" target="_blank" href="mailto:phillynewplayinitiative@gmail.com?subject=I'd like to join the mailing list!">Keep in touch</a>
			  <a class="action-link facebook-link" target="_blank" href="https://www.facebook.com/groups/587651131331743/">Let's be friends</a>
			</div>
		</div>
		<div data-bind="click: $root.toggleAbout" class="exit"></div>
	</div>
	<h1 data-bind="appear: $root.initialView">You want to make theater?</h1>
	<h2 data-bind="appear: $root.initialView">We want to help.</h2>
	<h3 data-bind="appear: $root.initialView"><a data-bind="click: $root.toggleAbout" href="javascript:;" class="about-link">(Here's how.)</a></h3>
	<div data-bind="appear: type() == 'filter' || type() == 'all'" class="search-view">
		<div class="search-view-div">
			<div>
				<span   data-bind="text: $root.leadText" class="lead-text"></span>
				<select data-bind="value: resource, options: $root.resources, optionsText: 'name', optionsValue: 'value', optionsCaption: '', event: { change: $root.fetchCategories } " class="resource" dir="rtl"></select>
			</div>
			<div>
				<span 	data-bind="visible: showPredicate, text: predicate" class="predicate"></span>
				<select data-bind="visible: showPredicate, value: category, options: $root.categories, optionsText: 'name',  optionsValue: 'value', optionCaption: ''" class="category" dir="rtl"></select>
			</div>
		</div>
		<div data-bind="appear: $root.initialView()" class="search-view-spacer"></div>
		<a   data-bind="appear: canSearch, click: $root.fetchResults" class="search-button texture-background">Search</a>
		<div class="swap-search-view"><a data-bind="click: typeSwap">Search by text</a></div>
	</div>
	<div data-bind="appear: type() == 'text'" class="search-view">
		<div class="search-view-div">
			<span data-bind="text: $root.leadText" class="lead-text"></span>
			<input data-bind="event: { keypress: $root.enterFetchEvent }, value: term" type="text" placeholder="Search. . .">
		</div>
		<div data-bind="appear: $root.initialView()" class="search-view-spacer"></div>
		<a data-bind="appear: canSearch, click: $root.searchFetchEvent" class="search-button texture-background">Search</a>
		<div class="swap-search-view"><a data-bind="click: typeSwap">Search by type</a></div>
	</div>
</script>